.main_nav {
    list-style-type: none;
    background-color: #aaa;
    overflow: hidden;
}

.main_nav li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.main_nav li > a:hover {
    background-color: #f3f3f3;
    color: black;
}

.main_nav li a:active {
    background-color: #f3f3f3;
    color: #000;
}

.inner_content {
    padding: 30px;
    background-color: #3a3a3a;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.inner_content h1,
.inner_content h2 {
    color: lightblue;
    margin: 20px 0;
}

.inner_content p::first-letter {
    font-size: 27px;
}

.inner_content li,
.inner_content dl {
    margin-left: 50px;
}

.inner_content a {
    color: red;
    text-decoration: none;
}

.inner_content dt, 
.advance_effect span {
   color: yellow;
}

.inner_content dd {
    text-indent: 40px;
}

.moods img {
    width: 300px;
    height: 300px;
}

.favorite_movies ol {
    display: flex;
    flex-direction: column-reverse;
}

.favorite_movies ol > li {
    flex: 0 0 auto;
}

.advance_effect:hover {
    transform: scaleX(-1);
}

.myForm {
    margin-left: 30px;
    margin-bottom: 10px;
}


  